<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
</head>

<body>
    <div class="navbar">
        <div class="logo">Abdurahmon</div>
        <div>
            <a href="{% url 'Home' %}">Главная страница</a>
            <a href="{% url 'Project' %}">Project</a>
        </div>
    </div>

    <div class="hero">
        <h1>Project</h1>
    </div>

    <div class="section">
        <div class="gallery">
            {% for project in projects %}
            <div class="gallery-item">
                <a href="{{ project.link }}" target="_blank">
                    <img src="{{ project.imageURL }}" alt="Python Project">
                </a>
                <p>{{ project.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>